@keyframes fade-in {
    0% {
        filter: opacity(0);
    }

    100% {
        filter: opacity(1);
    }
}

.judgeItem {
    list-style-type: none;

    transition: transform 300ms;
    transition-timing-function: ease-out;
    transform: scale(0.5);
    animation: fade-in 800ms;

    &:has(div) {
        filter: opacity(1);
    }

    &:has(img) {
        filter: opacity(1);

        transform: scale(1);
    }

    > a {
        display: grid;
        grid-template-areas:
            '.'
            'image'
            'text'
            '.';
        grid-template-rows: 1fr 120px 2rem 1fr;
        grid-gap: 0.2em;

        place-items: center;

        inline-size: 10rem;
        block-size: 10rem;

        color: var(--secondary-text);

        background-color: var(--card-bg);
        border-radius: var(--radius-medium);
        box-shadow: var(--card-shadow);

        &:hover {
            color: var(--link-text);

            background-color: var(--card-hover-bg);
        }

        p {
            align-self: start;
            grid-area: text;

            margin: 0;
        }

        img {
            grid-area: image;

            inline-size: 100px;
            block-size: 100px;

            border-radius: 50%;
        }

        .loading {
            grid-area: image;
        }
    }
}
