@import url('./font/index.css');

/* stylelint-disable-next-line no-duplicate-selectors */
:root {
  /* Base Colours */
  --secondary-background-color: #312631ff;
  --foreground-background-color: #453345ff;
  --secondary-foreground-background-color: #6f5c6fff;
  --cta-accept-color: #236147ff;

  /* ---- COLOUR PALETTE ---- */
  --light-orange: #ff8c7c;
  --orange: #ff8c7c;
  --dark-orange: #af584d;

  /* Greyscale */
  --white: #fff;
  --dark-white: #eee;
  --light-grey: #aaa;
  --grey: #999;
  --dark-grey: #555;
  --light-black: #333;
  --black: #000;

  /* ---- LOGICAL PALETTE ---- */

  /* Page */
  --page-background: #161116;

  /* Navbar */
  --nav-bg: #312631;
  --nav-button-bg: #604b60;
  --nav-item-hover-bg: #604b60;
  --nav-item-active-bg: #604b60;
  --nav-item-bg: #453345;
  --nav-text: var(--dark-white);
  --nav-text-active: var(--white);
  --nav-text-hover: var(--white);
  --nav-footer-text: var(--dark-white);

  /* Card */
  --card-bg: #312631;
  --card-hover-bg: #453345;
  --card-selected-bg: #453345;

  /* Dialog */
  --dialog-bg: #312631;
  --dialog-border: none;

  /* Loader */
  --loader-outer-bg: var(--grey);
  --loader-inner-bg: var(--white);

  /* Shadow Colours */
  --foreground-shadow: #16111688;

  /* Text Colours */
  --main-text: #fff;
  --secondary-text: #ddd;
  --placeholder-text: #ccc;
  --link-text: #ff8c7c;

  /* Tags */
  --generic-tag: #576163;
  --media-subtype-tag: var(--generic-tag);

  /* Focus highlights */
  --focus-highlight: #ff8c7c;
  --unfocused-highlights: #ff8c7c00;

  /* Shadows */
  --card-shadow: 0 2px 6px rgba(0 0 0 / 10%);

  /* Vote button */
  --vote-btn-border: var(--grey);
  --vote-btn-bkg: transparrent;
  --vote-btn-selected-border: var(--orange);
  --vote-btn-selected-bkg: var(--orange);

  /* Inputs */
  --input-background: #453345;
  --input-text-color: #fff;
  --input-border: 0 solid #d2d5d9;
  --input-invalid-border: 1px solid #d5524c;

  /* Button */
  --button-primary-bg: #16a085;
  --button-primary-hover-bg: #068d75;
  --button-disabled-bg: #6a6c70;

  /* Error */
  --error-background-color: #493030;
  --error-border: 2px solid rgb(186 43 43);
  --error-text-color: #fff;


  /* ---- UTILITY VARIABLES ---- */

  /* Border-Radius */
  --radius-small: 3px;
  --radius-medium: 5px;
  --radius-large: 8px;
  --radius-circle: 50%;
  --radius-medium-top: 5px 5px 0 0;

  /* Standard Breakpoints */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  /* z-indexes */
  --index-top: 10000;
  --index-nav: 9000;

  font-family: var(--font-family-body);
  font-size: var(--font-me);
  font-weight: var(--font-regular);
  color: var(--page-text-color);

  background-color: var(--page-background);
}

body {
  all: unset;

  min-block-size: 100vh;
  margin: 0;

  background-color: var(--page-background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-family-headings);
  color: var(--white);
}

:is(p) {
  color: var(--dark-white);
}

:is(a) {
  color: var(--link-text);
  text-decoration: none;
}

h2 {
  margin-block-end: 1rem;

  font-size: var(--font-heading);
}

h3 {
  font-size: var(--font-subheading);
}

h4 {
  font-size: var(--font-lg);
}