.tag {
  block-size: 1.4em;
  padding: 0 0.2em;

  font-size: var(--font-sm);
  font-weight: var(--font-regular);
  color: var(--tag-text-color);

  background-color: var(--tag-background-color);
  border-radius: var(--radius-small);
}
