name: Stylelint

on:
    push:
        branches: ['main']
    pull_request:
        # The branches below must be a subset of the branches above
        branches: ['main']

jobs:
    stylelint:
        name: Run Stylelint
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version-file: '.nvmrc'
                  cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Run Stylelint
              run: npm run stylelint
